<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <form method="post">
      <table>
        <tr>
          <td>Nama :</td>
          <td><textarea name="namaNew"></textarea></td>
        </tr>
          <tr>
            <td>Harga :</td>
            <td><input type="text" name="hargaNew"></td>
          </tr>
        <tr>
          <td>Berat :</td>
          <td><input type="text" name="beratNew"></td>
        </tr>
          <tr>
            <td>Image URL :</td>
            <td><input type="text" name="imgNew"></td>
          </tr>
            <tr>
              <td></td>
              <td><button type="submit">Create</button></td>
            </tr>
      </table>
    </form>
  </body>
</html>
