<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div><h1>Menu Admin</h1></div>
    <div>
      <a href="/admin/ongkir">Ongkir</a>
    </div>
    <br>
    <div>
    <a href="/admin/products">Product</a>
  </div>
  <br>
  <div>
    <a href="/admin/transaction">Transaction</a>
  </div>
  </body>
</html>
